AllowShortIfStatementsOnASingleLine: Never
BreakBeforeBraces: Allman
IndentWidth: 2
ReflowComments: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInParentheses: false
---
Language: Cpp
Cpp11BracedListStyle: true
SortIncludes: false
Standard: Cpp11
ColumnLimit: 130
---
Language: JavaScript
ColumnLimit: 250