BreakBeforeBraces: Allman
IndentWidth: 2
ReflowComments: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInParentheses: false
ColumnLimit: 130
---
Language: Cpp
Cpp11BracedListStyle: true
SortIncludes: false
Standard: Cpp11
AllowShortIfStatementsOnASingleLine: Never
---
Language: JavaScript
AllowShortIfStatementsOnASingleLine: Always