language: cpp

# compilers to add to build matrix
compiler:
  - gcc
  - clang

# scripts to run before build
before_script:
  - mkdir build
  - cd build
  - cmake ..

# build app, and run tests (ie make & make test)
script:
  - cmake --build .
  - cppcheck --quiet --error-exitcode=1 .

addons:
  apt:
    packages:
      - cmake
      - libsdl2-dev
      - libsdl2-image-dev
      - libsdl2-ttf-dev
      - cppcheck