version: 0.2-CIBuild-{build}
pull_requests:
  do_not_increment_build_number: true
image: Visual Studio 2017
configuration: Release
clone_depth: 10
cache: C:/Users/appveyor/.conan/
install:
- cmd: >-
    git submodule update --init --recursive

    choco install ninja conan -y

    refreshenv

    call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"

    conan user
build_script:
- cmd: >-
    cmake -GNinja -DCMAKE_BUILD_TYPE=Release .

    ninja
test: off
deploy: off
on_success:
- cmd: >-
    RD /S /Q C:\Users\appveyor\.conan\data\sdl2_mixer\2.0.4\anotherfoxguy\stable\build\c5616fb41f757be0457cf19c4770a3e47c2dc7c3\
    
    RD /S /Q C:\Users\appveyor\.conan\data\sdl2_mixer\2.0.4\anotherfoxguy\stable\source\
