[Desktop Entry]
Version=1.0
Name=Cytopia
GenericName=City building game
Comment=Retro pixel-art city building game
Exec=Cytopia %U
Terminal=false
Type=Application
Icon=cytopia_icon
Categories=Game;
