name: Build

on: [ push, pull_request ]

jobs:
  build-msvc:
    name: Windows
    env:
      BUILD_TOOLS_PATH: C:\Program Files\Conan\conan
    runs-on: windows-latest
    steps:
      - run: echo $env:BUILD_TOOLS_PATH | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Cache conan
        uses: actions/cache@v2.1.7
        with:
          key: conan-win-${{ hashFiles('cmake/DependenciesConfig.cmake') }}
          path: ~/.conan/

      - name: Install dependencies
        run: choco install conan ninja -y

      - name: Enable Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1.10.0

      - name: Build
        run: |
          cmake . -GNinja -DCMAKE_BUILD_TYPE=Release -DCYTOPIA_USE_ANGELSCRIPT=CONAN
          ninja

      - name: Test
        run: ctest -j2 --output-on-failure

      - name: Upload build to itch.io
        env:
          BUTLER_API_KEY: ${{ secrets.BUTLER_API_KEY }}
        if: env.BUTLER_API_KEY != null && github.ref == 'refs/heads/master'
        run: |
          choco install butler -y
          ninja install
          butler push redist cytopia/cytopia:windows-ci --userversion CIBuild-%GITHUB_RUN_NUMBER%-Commit-%GITHUB_SHA%
        shell: cmd

      - name: Clean Conan pkgs
        run: conan remove "*" -fsb

  build-gcc:
    name: Linux
    env:
      CONAN_SYSREQUIRES_MODE: "enabled"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Cache conan
        uses: actions/cache@v2.1.7
        with:
          key: conan-linux-${{ hashFiles('cmake/DependenciesConfig.cmake') }}
          path: ~/.conan/

      - name: Install dependencies
        env:
          CONAN_USER_HOME: "/tmp/"
        run: |
          echo -e 'pcm.!default {\n type plug\n slave.pcm "null"\n}' > ~/.asoundrc
          curl "https://raw.githubusercontent.com/AnotherFoxGuy/ci-scripts/main/install-cmake.sh" | sudo bash
          curl "https://raw.githubusercontent.com/AnotherFoxGuy/ci-scripts/main/install-conan.sh" | sudo bash
          conan install "xorg/system@"
          sudo apt-get -y install ninja-build libgl-dev libegl-dev

      - name: Configure
        run: |
          cmake . -GNinja -DCMAKE_BUILD_TYPE=Release -DCYTOPIA_USE_ANGELSCRIPT=CONAN

      - name: Build
        run: |
          ninja

      - name: Test
        env:
          SDL_VIDEODRIVER: dummy
          SDL_AUDIODRIVER: dummy
        run: ctest -j2 --output-on-failure

      - name: Upload build to itch.io
        env:
          BUTLER_API_KEY: ${{ secrets.BUTLER_API_KEY }}
        if: env.BUTLER_API_KEY != null && github.ref == 'refs/heads/master'
        run: |
          curl "https://raw.githubusercontent.com/AnotherFoxGuy/ci-scripts/main/install-butler.sh" | sudo bash
          ninja install
          butler push redist cytopia/cytopia:linux-ci --userversion CIBuild-${GITHUB_RUN_NUMBER}-commit-${GITHUB_SHA}

      - name: Clean Conan pkgs
        run: conan remove "*" -fsb

  build-appleclang:
    name: MacOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Cache conan
        uses: actions/cache@v2.1.7
        with:
          key: conan-mac-${{ hashFiles('cmake/DependenciesConfig.cmake') }}
          path: ~/.conan/

      - name: Install dependencies
        run: brew install conan ninja

      - name: Build
        run: |
          cmake . -GNinja -DCMAKE_BUILD_TYPE=Release -DCYTOPIA_USE_ANGELSCRIPT=CONAN
          ninja
          mkdir -p bin/Cytopia.App/Resources/resources
          cp -pR data/resources bin/Cytopia.App/Contents/Resources/
          cp -pR data/resources bin/resources
          ninja package
          rm -rf bin/Cytopia.App/Contents/MacOS/resources
          rm -rf bin/Cytopia.App/Resources
        shell: bash

      - name: Test
        run: ctest --output-on-failure
        shell: bash

      - name: Upload build to itch.io
        env:
          BUTLER_API_KEY: ${{ secrets.BUTLER_API_KEY }}
        if: env.BUTLER_API_KEY != null && github.ref == 'refs/heads/master'
        run: |
          curl -JOL https://broth.itch.ovh/butler/darwin-amd64/LATEST/archive/default
          mkdir redist
          mv bin/Cytopia.app/ redist/
          unzip butler-darwin-amd64.zip
          ./butler push redist cytopia/cytopia:osx-ci --userversion CIBuild-${GITHUB_RUN_NUMBER}-commit-${GITHUB_SHA}
        shell: bash

      - name: Clean Conan pkgs
        run: conan remove "*" -fsb