name: Check for missing images

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Check if images exist
        run: node ./tools/CI/check-jsons.js
