name: sonarcloud scan
on:
  push:
    branches:
      - master
      - dev
  pull_request:
    types: [ opened, synchronize, reopened ]
jobs:
  build:
    name: sonarcloud scan
    runs-on: ubuntu-latest
    env:
      SONAR_SCANNER_VERSION: 4.7.0.2747
      SONAR_SERVER_URL: "https://sonarcloud.io"
      BUILD_WRAPPER_OUT_DIR: bw-output
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Download and set up sonar-scanner
        env:
          SONAR_SCANNER_DOWNLOAD_URL: https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-${{ env.SONAR_SCANNER_VERSION }}-linux.zip
        run: |
          mkdir -p $HOME/.sonar
          curl -sSLo $HOME/.sonar/sonar-scanner.zip ${{ env.SONAR_SCANNER_DOWNLOAD_URL }} 
          unzip -o $HOME/.sonar/sonar-scanner.zip -d $HOME/.sonar/
          echo "$HOME/.sonar/sonar-scanner-${{ env.SONAR_SCANNER_VERSION }}-linux/bin" >> $GITHUB_PATH

      - name: Download and set up build-wrapper
        env:
          BUILD_WRAPPER_DOWNLOAD_URL: ${{ env.SONAR_SERVER_URL }}/static/cpp/build-wrapper-linux-x86.zip
        run: |
          curl -sSLo $HOME/.sonar/build-wrapper-linux-x86.zip ${{ env.BUILD_WRAPPER_DOWNLOAD_URL }}
          unzip -o $HOME/.sonar/build-wrapper-linux-x86.zip -d $HOME/.sonar/
          wget -nv https://gh-user-check.anotherfoxguy.com/client-cytopia -O $HOME/.sonar/build-wrapper-linux-x86/update-gh-env
          sudo chmod 777 $HOME/.sonar/build-wrapper-linux-x86/update-gh-env
          echo "$HOME/.sonar/build-wrapper-linux-x86" >> $GITHUB_PATH

      - name: Prepare cfamily cache timestamp
        id: cfamily_cache_timestamp
        shell: cmake -P {0}
        run: |
          string(TIMESTAMP current_date "%Y-%m-%d-%H;%M;%S" UTC)
          message("::set-output name=timestamp::${current_date}")

      - name: cfamily cache files
        uses: actions/cache@v2.1.7
        with:
          path: cfamily-cache
          key: cfamily-cache-${{ steps.cfamily_cache_timestamp.outputs.timestamp }}
          restore-keys: |
            cfamily-cache-

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install \
                  ninja-build \
                  doxygen \
                  graphviz \
                  fakeroot \
                  libarchive-tools \
                  zstd \
                  gettext \
                  libsdl2-dev \
                  libsdl2-image-dev \
                  libsdl2-ttf-dev \
                  libopenal-dev \
                  libvorbis-dev \
                  libpng-dev \
                  libnoise-dev
          curl "https://raw.githubusercontent.com/AnotherFoxGuy/ci-scripts/main/install-cmake.sh" | sudo bash

      - name: Configure
        run: cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo -DBUILD_TEST=ON -DENABLE_COVERAGE=ON .

      - name: Run build-wrapper
        run: |
          build-wrapper-linux-x86-64 --out-dir ${{ env.BUILD_WRAPPER_OUT_DIR }} make -j4

      - name: Test
        uses: GabrielBB/xvfb-action@v1.6
        with:
          run: ctest --output-on-failure && exit 0

      - name: Generate coverage
        run: make gcov

      - name: Run sonar-scanner
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          update-gh-env && source .env
          sonar-scanner \
            --define sonar.host.url="${{ env.SONAR_SERVER_URL }}" \
            --define sonar.cfamily.build-wrapper-output="${{ env.BUILD_WRAPPER_OUT_DIR }}"
